WebContent/wsdl/MyServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.com" xmlns:intf="http://service.com" xmlns:tns1="http://beans.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://beans.com"/>
   <element name="getX">
    <complexType>
     <sequence>
      <element name="param" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getXResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getXReturn" type="tns1:Contact"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://beans.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Contact">
    <sequence>
     <element name="IDX" type="xsd:int"/>
     <element name="eMail" nillable="true" type="xsd:string"/>
     <element name="firstName" nillable="true" type="xsd:string"/>
     <element name="lastName" nillable="true" type="xsd:string"/>
     <element name="phoneNumber" nillable="true" type="xsd:string"/>
     <element name="timeStamp" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getXRequest">

      <wsdl:part element="impl:getX" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getXResponse">

      <wsdl:part element="impl:getXResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MyServiceImpl">

      <wsdl:operation name="getX">

         <wsdl:input message="impl:getXRequest" name="getXRequest">

       </wsdl:input>

         <wsdl:output message="impl:getXResponse" name="getXResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MyServiceImplSoapBinding" type="impl:MyServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getX">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getXRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getXResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MyServiceImplService">

      <wsdl:port binding="impl:MyServiceImplSoapBinding" name="MyServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/WebPage/services/MyServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
